// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.head {
    height: 10rem;
    background: $white;
    border-bottom: 0.1rem solid $grey_light;
    width: 100%;
  
    @include flex(row, space-between, center);
  
    &__logo {
      width: 18rem;
      padding-left: 3rem;
    }
  
    &__menu {
      @include flex(row, space-between, center);
    }
  }
  
  .menu {
    margin: 0;
  
    &__item {
      float: left;
      margin-right: 5rem;
    }
  
    &__link {
      text-decoration: none;
      color: $dark;
      font-size: 1.3rem;
    }
  
    &--icon {
      margin-left: 1.5rem;
      height: 10rem;
      width: 20rem;
      background: $grey_light;
      font-size: 1.3rem;
      @include flex(row, space-around, center);
    }
  }