// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page {
    display: flex;
    flex-direction: row;
  
    &__article {
      width: 35%;
      min-width: 300px;
      height: 75vh;
  
      @include flex(column, center, center);
    }
  
    &__slider {
      width: 65%;
      height: 75vh;
      background-image: url("../img/main.jpeg");
      background-position: center;
      background-size: cover;
      position: relative;
    }
  }
  
  .article {
    &__logo {
      padding: 4rem;
      font-size: 6.6rem;
      font-weight: 600;
      width: auto;
      margin-left: 3rem;
      position: relative;
      z-index: 99;
    }
  
    &__description {
      width: 60%;
      margin: 3rem auto;
      background: $red;
  
      @include flex(row, center, center);
    }
  }
  
  .logo {
    &__text {
      display: block;
  
      &--lg {
        font-family: "K2D";
        font-weight: 900;
        font-size: 14.9rem;
        color: rgba($red, 0.938);
        z-index: 999999;
        position: relative;
        left: 40%;
      }
    }
  }
  
  .description {
    &__number {
      padding: 4rem;
  
      span {
        font-size: 2rem;
      }
    }
  
    &__text {
      padding: 1.5rem;
      font-size: 1.4rem;
    }
  }
  
  .slider {
    &__arrows {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    &__item {
      padding: 5.5rem;
      color: white;
      cursor: pointer;
      background-color: rgba($grey_light, 0.473);
      font-size: 2rem;
  
      &:first-child {
        background: rgba($red, 0.938);
      }
  
      &:last-child {
        background: rgba($red, 0.274);
        transform: translateX(-0.3rem);
      }
    }
  }
  
  @media (max-width: 876px) {
    .page {
      flex-direction: column-reverse;
    }
  
    .page__slider {
      width: 100%;
      height: 50vh;
    }
  
    .menu {
      display: none;
    }
  
    .page__article {
      width: 100%;
    }
  
    .logo {
      margin: 0;
  
      &__text:last-child {
        transform: translateX(0px);
      }
    }
  }
  