/*
--------

0 - 600px       Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape
[1200 - 1800]   Normal styles
1800px +        Big desktop

---------

breakponit arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

---------

1em = 16px

---------
*/
html {
  font-size: 62.5%;
  transition: 0.5s;
  font-family: Circular !important; }
  @media (min-width: 125em) {
    html {
      font-size: 87.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

/**
 * Basic typography style for copy text

/* Light */
@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 100; }

/* Light */
@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 300; }

/*  Bold */
@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 500; }

/* Black */
@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 600; }

/* 
   v2.0 | K2D font
*/
/* Extra-Black */
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D-ExtraBold.ttf") format("truetype");
  font-weight: 900; }

body {
  margin: 0;
  padding: 0; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.head {
  height: 10rem;
  background: #ffffff;
  border-bottom: 0.1rem solid #f5f5f5;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .head__logo {
    width: 18rem;
    padding-left: 3rem; }
  .head__menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.menu {
  margin: 0; }
  .menu__item {
    float: left;
    margin-right: 5rem; }
  .menu__link {
    text-decoration: none;
    color: #333333;
    font-size: 1.3rem; }
  .menu--icon {
    margin-left: 1.5rem;
    height: 10rem;
    width: 20rem;
    background: #f5f5f5;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  @media (max-width: 56.25em) {
    .menu {
      display: none; } }

.page {
  display: flex;
  flex-direction: row; }
  .page__article {
    width: 35%;
    min-width: 300px;
    height: 75vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 56.25em) {
      .page__article {
        height: 45vh;
        width: 100%; } }
    @media (max-width: 37.5em) {
      .page__article {
        background: #ff0000; } }
  .page__slider {
    width: 65%;
    height: 75vh;
    background-image: url("../img/main.jpeg");
    background-position: center;
    background-size: cover;
    position: relative; }
    @media (max-width: 56.25em) {
      .page__slider {
        width: 100%;
        height: 50vh; } }
  @media (max-width: 56.25em) {
    .page {
      flex-direction: column-reverse; } }

.article__logo {
  padding: 4rem;
  font-size: 6.6rem;
  font-weight: 600;
  width: auto;
  margin-left: 3rem;
  position: relative;
  z-index: 99; }

.article__description {
  width: 60%;
  margin: 3rem auto;
  background: #ff0000;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.logo__text {
  display: block; }
  .logo__text--lg {
    transition: 0.3s;
    font-family: "K2D";
    font-weight: 900;
    font-size: 19.9rem;
    color: rgba(255, 0, 0, 0.938);
    z-index: 999999;
    position: relative;
    left: 40%; }
    @media (max-width: 56.25em) {
      .logo__text--lg {
        left: 0%; } }
    @media (max-width: 37.5em) {
      .logo__text--lg {
        color: #ffffff; } }

@media (max-width: 56.25em) {
  .logo__text:last-child {
    transform: translateX(0px); } }

@media (max-width: 56.25em) {
  .logo {
    margin: 0; } }

.description__number {
  padding: 4rem; }
  .description__number span {
    font-size: 2rem; }

.description__text {
  padding: 1.5rem;
  font-size: 1.4rem; }

.slider__arrows {
  position: absolute;
  bottom: 0;
  left: 0; }
  @media (max-width: 37.5em) {
    .slider__arrows {
      right: 0; } }

.slider__item {
  padding: 5.5rem;
  color: white;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.473);
  font-size: 2rem; }
  .slider__item:first-child {
    background: rgba(255, 0, 0, 0.938); }
  .slider__item:last-child {
    background: rgba(255, 0, 0, 0.274);
    transform: translateX(-0.3rem); }
  @media (max-width: 37.5em) {
    .slider__item {
      padding: 5.5rem 0;
      width: 50%;
      float: left;
      text-align: center; } }
